{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 999
      }
    }
  ]
}
