:root {
  --color-cc-vup: #0098DC;
  --color-cc-vdown: #FF6237;
  --color-cc-rem: #F49800;
  --color-cc-kw: #00B0FF;
}

.cc-vup {
  color: var(--color-cc-vup);
}

.riic-term .cc-vup:before {
  background-color: var(--color-cc-vup);
}

.cc-vdown {
  color: var(--color-cc-vdown);
}

.riic-term .cc-vdown:before {
  background-color: var(--color-cc-vdown);
}

.cc-rem {
  color: var(--color-cc-rem);
}

.riic-term .cc-rem:before {
  background-color: var(--color-cc-rem);
}

.cc-kw {
  color: var(--color-cc-kw);
}

.riic-term .cc-kw:before {
  background-color: var(--color-cc-kw);
}